/.~lock.Kopie von SimRS_20150421_SBC_base07_b_is_W Abb_s.xlsx#
/.emacs.desktop.lock
simulation/TAGS
/simulation/src/.#sbc_spsa.m
/paper/TAGS
/paper/auto/comparison_optimization.el
/paper/auto/references.el
/paper/comparison_optimization.aux
/paper/comparison_optimization.bbl
/paper/comparison_optimization.log
/paper/comparison_optimization.out
/paper/comparison_optimization.synctex.gz
simulation/src/result_R100_ga_FunctionTolerance0.5.txt
